body {
	background: orange;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 187, 0, 0.562), rgb(203, 205, 211));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 187, 0, 0.562), rgb(203, 205, 211)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto;
	color: Dodgerblue;
}

div.card {
	border: 5px double Dodgerblue;
	border-radius: 2%;
}

div.card-header {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
}

div.card-body {
	padding: 10px;
}

div.acard-frame {
	width: 340px;
	height: 227px;
	margin: 10px auto 10px auto;
	position: relative;
	border: 2px solid orange;
	border-radius: 3%;
}

div.acard-frame:hover {
	background: rgb(255, 225, 169);
}

div.acard-frame:hover img{
	opacity: 0.2;
}

div.acard-frame:hover .acard-onhover {
	opacity: 1.0;
}

div.acard-text {	
	position: absolute;
	top: 20%;
	left: 55%;
}

div.acard-photo {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 150px;
	height: 150px;
}

div.acard-onhover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	text-align: center;
}

div.acard-form {
	display: none;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	color: Dodgerblue;
}

img {
	max-width: 25%;
	height: auto;
}

div.acard-form .form-group {
	display: inline-block;
	max-width: 100%;
	text-align: left;
}​

.symb_card {
	position: relative;
	display: inline-block;
	font-size: 60px; 
	color: Dodgerblue;
}

.symb_card .symb_hover {
	visibility: hidden;
	width: 180px;
	color: black;
	text-align: center;
	background-color: dodgerblue;
	border: 1.5px solid black;
	border-radius: 10%;
	/* Position the tooltip */
	position: absolute;
	top: 10%;
	left: 100%;
	z-index: -1; 
}

.symb_card:hover .symb_hover {
	visibility: visible;
}

span#copyright {
	float: right;
	font-size: 15px;
	margin-right: 30px;
}

.fa-home {
	font-size: 140%;
	float: left;
}

.fa-address-card {
	float: right;
	font-size: 250%;
}
